body {
    font-family: 'Mulish', sans-serif;
    background-color: #fff;
    width: 100%;
}
* { 
    box-sizing: border-box;
  }
li {
    list-style-type: none;
}
a {
  text-decoration: none;
  font-family: 'Mulish';
  font-weight: 400;
  color: #1f1534;
  cursor: pointer;
}
a:hover,
a:focus {
  box-shadow: 2px 6px 15px hsla(226, 98%, 52%, 0.35);
}
button {
  cursor: pointer;
  border: none;
}
img {
  max-width: 100%;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
}
.logo-img {
  margin-left: 191px;
}
.first-nav {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: #1f1534;
}
.nav-ul {
  display: flex;
  margin-bottom: 0;
}
.nav-list {
  padding: 0 20px 0;
  margin: 0;
}
.nav-ul li:last-child {
  padding-right: 192px;
}
section {
  display: flex;
}
h1 {
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  width: 427px;
  margin-bottom: 0;
  margin-left: 190px;
}
h2 {
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
}
.section-1, 
.section-3, 
.section-4, 
.section-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-text p {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  max-width: 445px;
  margin: 25px 0 45px 190px;
}
.section-1 {
  background-image: url('../images/sec-1-bg.svg');
  background-repeat: no-repeat;
  background-position: 0 10%;
}
.section-1 img {
  margin-right: 163px;
  padding-top: 84px;
}
.btn-sec-1 {
  margin-left: 190px;
  height: 56px;
  text-align: center;
  width: 200px;
  border-radius: 55px;
  background: #458ff6;
  font-weight: 700; 
  font-size: 18px;
  color: #fff;
}
.btn-sec-1:hover,
.btn-sec-2:hover,
.btn-sec-3:hover,
.btn-sec-5:hover,
.download-link:hover,
.btn-sec-1:focus,
.btn-sec-2:focus,
.btn-sec-3:focus,
.btn-sec-5:focus,
.download-link:focus {
  box-shadow: 2px 6px 15px rgba(11, 68, 253, 0.35);
  transition: 0.2s;
}
.container-sec-2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.section-2 {
  max-width: 100%;
  padding-top: 192px;
  background-image: url('../images/Group7.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}
.section-2 h2 {
  text-align: center;
}
.section-2-div p {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #7d7987;
  width: 952px;
}
.service-cards {
  display: flex;
  flex-wrap: wrap;
}
.service-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.btn-sec-2,
.btn-sec-5 {
  height: 56px;
  width: 200px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  background: #fff;
  font-weight: 700; 
  font-size: 18px;
  color: #458ff6;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
}
.service-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;  
  width: 350px;
  height: 354px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px hsla(226, 49%, 93%, 0.4);
  margin: 18px 18px;
  background: #fff;
}
.service-img,
.service-div h3,
.service-div p {
  padding-left: 38px;
}
.service-img {
  height: 96px;
}
.service-div p {
font-family: 'Mulish';
font-weight: 300;
font-size: 16px;
line-height: 28px;
color: #787680;
}
.service-div h3 {
  padding-top: 10px;
}
.sec-3-div p, 
.sec-4-div p {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  max-width: 445px;
  color: #7d7987;
}
.section-3 {
  max-width: 100%;
  padding-top: 220px;
  margin-right: 193px;
  margin-left: 135px;
}
.section-3 img {
  margin-right: 142px;
}
.h2-center::after {
  content: '';
  display: block;
  width: 56px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
}
.h2-left::after {
  content: '';
  display: block;
  width: 56px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
  margin-top: 26px;
}
.btn-sec-3 {
  height: 56px;
  width: 200px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  background: #fff;
  font-weight: 700; 
  font-size: 18px;
  color: #458ff6;
  margin-top: 19px;
}
.section-4 {
  padding-top: 229px;
  background-image: url('../images/sec3-bg.svg');
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.section-4 img {
  margin-right: 164px;
}
.sec-4-div {
  margin-left: 280px;
}
.download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  background: #fff;
  font-weight: 700; 
  font-size: 18px;
  color: #458ff6;
}
.icon-down-arrow {
  margin-left: 15px;
}
.review {
  background:  linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  max-width: 1120px;
  padding-top: 65px;
  padding-bottom: 80px;
  margin-top: 266px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}
.decore-dots-article {
  position: absolute;
  right: -45px;
  top: -20px;
}
.decore-dots-article-2 {
  position: absolute;
  bottom: 30px;
  left: -50px;
  z-index: -1;
}
.review-h2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #fff;
}
.review-h2:after {
  display: block;
  content: '';
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 65px;
  width: 56px;
  height: 2px;
  background: #fff;
  border-radius: 6px;
}
.slide {
  display: flex;
}
.person-review {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 118px;
}
.person-review,
.review-text {
  width: 50%;
}
.person-name {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #fff;
}
.person-post {
  font-family: 'Mulish';
font-size: 18px;
line-height: 48px;
color: rgba(255, 255, 255, 0.85);
}
.review-text {
  display: flex;
  align-items: center;
  font-family: 'Mulish';
  padding-right: 120px;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}
.person-img {
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.person-title {
  display: flex;
  flex-direction: column;  
  margin-right: 29px;
}
.button-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 40px;
  padding-left: 0;
}
.btn-mid {
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  background: transparent;
}
.btn-mid:focus {
  outline: none;
  box-shadow: 0 0 10px #0066ff;
}
.btn-mid::after {
  display: block;
  content: '';
  background-color: rgba(91, 155, 243, 0.3);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.btn-active:after,
.btn-mid:hover:after {
  outline: none;
  background: #5b9bF3;
  opacity: 1;
}
.icon-left-arrow,
.icon-right-arrow {
  color: #458ff6;
  opacity: 0.3;
  border: none;
  background: none;
  margin-right: 80px;
  margin-left: 80px;
}
.slider-right-arrow:hover,
.slider-left-arrow:hover {
  color: #458ff6;
  opacity: 1;
}
.section-5,
.articles {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.section-5 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 200px;
  background-image: url('../images/sec-5-bg.svg');
  background-repeat: no-repeat;
  background-position: 70% 90%;
}
.dots-sec-5 {
  position: absolute;
  right: 90px;
  top: 1100px;
}
.h2-sec-5 {
  width: 100%;
}
.h2-sec-5 h2 {
  font-family: 'Mulish';
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000
}
.articles {
  flex-wrap: wrap;
  justify-content: center;
}
.article-preview {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 512px;
  margin-right: 30px;
  box-shadow: 10px 40px 50px rgb(229, 233, 246);
  flex-basis: 100px;
  flex-grow: 1;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.article-preview:last-child {
  margin-right: 0;
}
.article-preview-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}
.article-preview-text h5 {
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #000
}
.article-preview img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}
.article-read-more {
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
}
.sec-5-rigth-arrow {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 10px;
  line-height: 28px;
  color: #4089ED;
  opacity: 1;
  margin-left: 15px;
}
.main-footer {
  padding-top: 201px;
}
.footer-container {
  max-width: 100%;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.footer-block ul {
  padding: 0;
}
.footer-block ul li a {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #fff
}
h5 {
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #fff
}
.main-footer {
  position: relative;
  z-index: 1;
}
.decor-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.footer-text {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #fff
}
.footer-law {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #fff
}
.footer-contant {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
  margin: 0 157px;
  align-items: center;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-down-arrow:before {
  content: "\e900";
}
.icon-left-arrow:before {
  content: "\e901";
}
.icon-right-arrow:before {
  content: "\e902";
}
